@import url(https://fonts.googleapis.com/css?family=Lato:300,400|Roboto:300,400);
*,
*:after,
*:before {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

button {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none; }

body {
  background-color: #fdde7e;
  font-family: 'Roboto', sans-serif;
  color: #333333; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px; }
  .main .left {
    background-color: #ffffff;
    width: 360px;
    height: 443px;
    margin: 80px 30px 78px 30px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px #bdbdbd;
    box-shadow: 0 0 2px #bdbdbd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main .left__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-line-pack: center;
      align-content: center; }
      .main .left__wrapper--content {
        width: 180px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center; }
        .main .left__wrapper--content .dolar {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          color: #02995b;
          font-size: 70px;
          margin-top: 32px;
          font-weight: 300; }
        .main .left__wrapper--content--img {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .main .left__wrapper--content--img .zerno {
            margin: auto;
            width: 36px;
            height: 45px;
            margin-bottom: -60px;
            z-index: 2; }
          .main .left__wrapper--content--img .chashka {
            margin: auto;
            width: 135px;
            height: 77px;
            padding-left: 15px;
            padding-bottom: 20px; }
          .main .left__wrapper--content--img .dum {
            margin: auto;
            width: 49px;
            height: 46px;
            padding-bottom: 26px;
            padding-top: 20px; }
        .main .left__wrapper--content .color {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-size: 56px;
          font-weight: 300;
          padding-bottom: 20px; }
        .main .left__wrapper--content .coust {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 20px;
          font-weight: 300;
          text-align: center; }
  .main .center {
    background-color: #ffffff;
    width: 360px;
    height: 500px;
    margin: 50px 0 78px 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px #bdbdbd;
    box-shadow: 0 0 2px #bdbdbd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main .center__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-line-pack: center;
      align-content: center; }
      .main .center__wrapper--content {
        width: 180px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center; }
        .main .center__wrapper--content .dolar {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          color: #02995b;
          font-size: 70px;
          margin-top: 32px;
          font-weight: 300;
          margin-bottom: 50px; }
        .main .center__wrapper--content--img {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .main .center__wrapper--content--img .zerno {
            margin: auto;
            width: 36px;
            height: 45px;
            margin-bottom: -60px;
            z-index: 2; }
          .main .center__wrapper--content--img .chashka {
            margin: auto;
            width: 135px;
            height: 77px;
            padding-left: 15px;
            padding-bottom: 20px; }
          .main .center__wrapper--content--img .dum {
            margin: auto;
            width: 49px;
            height: 46px;
            padding-bottom: 26px; }
        .main .center__wrapper--content .color {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-size: 56px;
          font-weight: 300;
          padding-bottom: 20px; }
        .main .center__wrapper--content .coust {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 20px;
          font-weight: 300;
          text-align: center; }
  .main .right {
    background-color: #ffffff;
    width: 360px;
    height: 443px;
    margin: 80px 30px 78px 30px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px #bdbdbd;
    box-shadow: 0 0 2px #bdbdbd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main .right__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-line-pack: center;
      align-content: center; }
      .main .right__wrapper--content {
        width: 180px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center; }
        .main .right__wrapper--content .dolar {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          color: #02995b;
          font-size: 70px;
          margin-top: 32px;
          font-weight: 300; }
        .main .right__wrapper--content--img {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .main .right__wrapper--content--img .zerno {
            margin: auto;
            width: 36px;
            height: 45px;
            margin-bottom: -60px;
            z-index: 2; }
          .main .right__wrapper--content--img .chashka {
            margin: auto;
            width: 135px;
            height: 77px;
            padding-left: 15px;
            padding-bottom: 20px; }
          .main .right__wrapper--content--img .dum {
            margin: auto;
            width: 49px;
            height: 46px;
            padding-bottom: 26px;
            padding-top: 20px; }
        .main .right__wrapper--content .color {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-size: 56px;
          font-weight: 300;
          padding-bottom: 20px; }
        .main .right__wrapper--content .coust {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 20px;
          font-weight: 300;
          text-align: center; }
