@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);

.main {
  background-color: $gray-back;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 1200px;
  height: 900px;
  .header__wrapper {
    display: flex;
    flex-direction: column;
    
       
    &--text {
      width: 876px;
      height: 189px;
      background-color: $black;
      margin-top: 47px;
      align-self: flex-end;
      &--container {
        margin-top: 52px;
        margin-left: 65px;
        .text__title {
          color: $gray-text;
          font-size: 15px;
          font-family: "Arial", sans-serif;
          //margin-bottom: 13px;
        }
        .text__content {
          color: $white;
          font-size: 48px;
          font-family: 'Playfair Display', serif;
          //margin-bottom: 20px;   
        }
        .text__line {
          font-size: 800px;
	        position: relative;
	        display: inline-block;
	        padding: 0 0 3px 810px;
	        background-color: #303030;
        }
      }
     
    }
    &--icons {
      width: 813px;
      height: 80px;
      background-color: $yellow;
      display: flex;
      flex-direction: column-reverse;
      align-self: flex-end;
      flex-wrap: nowrap;

      
      &--container {
        align-self: baseline;
        margin-left: 50px;
        margin-bottom: 25px;
        font-size: 28px;
        color:#f9dc94;
        flex-direction: row;
        flex-wrap: nowrap;

        i {
          cursor: pointer;
          margin-right: 29px;
          &:hover {
          color: #fdfdfd;
          }
        }
      }
    }
  }
}
.document {
  width: 1062px;
  height: 750px;
  background-color: $white;
  align-self: center;
  order: -1;
  margin-top: -164px;
  display: flex;
  justify-content: center;
  .text__line {
    height: 750px;
    width: 2px;
    margin-left: -58px; 
    opacity: 0.3;
    
  }  

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 815px;
    padding-top: 200px;

    &--who {
      font-family: "Arial", sans-serif;
      font-size: 20px;
      color: #c9c9c9;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 45px;
    }
    &--title {
      font-family: "Arial", sans-serif;
      font-size: 77px;
      color: #2a2a2a;
      font-weight: 600;
      letter-spacing: 0,5px;
      text-transform: uppercase;
    }  
    &--questions {
      font-size: 30px;
      color: #8f8f8f;
      font-family: "Georgia", serif;
      font-style: italic;
      margin-bottom: 62px;
    }
    &--p1 {
      font-size: 27px;
      color: #000000;
      font-family: "Georgia", serif;
      margin-bottom: 45px;
      
    }
    &--p2 {
      font-size: 27px;
      color: #000000;
      font-family: "Georgia", serif;
      text-align: justify;
    }
  }
}
