.services_wrapper {
  background: url(../img/S1e1_forest_road.png)no-repeat;
  background-size: cover;
  .services {
    background-color: rgba(255, 255, 255, 0.857);
  }
  //height: 100vh;
  .col-md-6 {
    h4 {

    }
    p {
      color: $black;
      font-family: 'Lobster', cursive;
      font-size: 3vh;

    }
  }
}
hr.separetor {
  width: 80px;
  color: #363942;
  border-top: 2px solid $yellow;
  margin: 0 auto;
}
.row {
  width: 100%;
}