*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  }
li {
  list-style: none;
}
button {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
  border: none;
}
p {
  color: red;
}

ul{padding: 0;}
a{color: #ea9312}
a:hover{color: #c3c3c3; text-decoration: none;}

#services{text-align: center;}
.col-md-4, .col-md-6{padding-bottom: 50px;}
.col-md-3 {padding: 0;}

.sectionhead{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

hr.separetor{
    width: 80px;
    color: #363942;
    border-top: 2px solid #ea9312;
}


.btn-default{
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 50px 0;
    color: #c3c3c3;
    letter-spacing: 2px;
}

.btn-default:hover{
    background: none;
    color: #ea9312;
}

.btnicon, .brandicon{
    margin-right: 10px;
}
img :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
html{

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body
{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
