*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  }
li {
  list-style: none;
}
button {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
  border: none;
  outline: none;
}
img {
  margin: 0;
  padding: 0;
  border: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:after,
  &:before {
      box-sizing: border-box;
  }
}


h1, h2, h3, h4, h5,
h6,
p,
ul,
li,
a,
img,
input,
button,
textarea {
    margin: 0;
    padding: 0;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}
 div {
  outline: none;
 }

