@import url("https://fonts.googleapis.com/css?family=Lato:300|Playfair+Display:400,700,900" );
body {
  display: flex;
  background-color: rgb(224, 225, 231);
  flex-direction: column;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1200px;
  height: 1000px;
  background-color:$white;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 0 15px 0 15px;
    
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: $white;
    width: 1100px;
    margin-top: 70px;
    &--content {
      &--title {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 42px;
        margin-bottom: 35px;
      }
      &--letter{
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 110px;
        position:absolute;
        margin-top: -30px;
      }
      &--p1{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #171717;
        line-height: 2;
        margin-left: 90px;
        opacity: 0.7;
        
      }
      &--p12 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #171717;
        line-height: 2;
        margin-bottom: 52px;
        opacity: 0.7;
      }
      &--p2{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #171717;
        line-height: 2;
        margin-bottom: 52px;
        opacity: 0.7;
      }
      &--p3{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 2;
        color: #171717;
        opacity: 0.7;
      }
      &--p4{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 2;
        color: #171717;
        opacity: 0.7;
        &--span {
          font-size: 64px;
          transform: rotate(-65deg);
        }
      }
      &--btn {
        width: 260px;
        height: 79px;
        outline: none;
        border: 1px solid $btn;
        background-color: $white;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 3px;
        color: $btn;
        &:hover {
          background-color: $btn;
          color: $white;
        }
       
      }
    }
    

  }
}